<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../messenger-elements/messenger-user.html">
<link rel="import" href="./messenger-audio-notification/messenger-audio-notification.html">
<link rel="import" href="./messenger-web-notification.html">

<dom-module id="messenger-message">
	<style>
		.bubble{
			width: 50%;
			margin-top:0.5em;
			background-color: var(--paper-indigo-200);
			padding:10px 15px;
			position: relative;
			margin-left: 1em;
		}
		.bubble:after{
			content: " ";
			border: solid transparent;
			top:50%;
			right: 100%;
			width:0;
			height: 0;
			position: absolute;
			border-color:rgba(0,0,0,0);
			border-right-color: var(--paper-indigo-200);
			border-width:10px;
			margin-top:-10px;
		}
		.bubble.right{
			margin-left:45%;
			background-color: var(--paper-green-200);
		}
		.bubble.right:after{
			border-color:rgba(136,183,213,0);
			border-left-color: var(--paper-green-200);
			right:0%;
			left: 100%;
		}
	</style>
	<template>
		<messenger-audio-notification></messenger-audio-notification>

		<messenger-web-notification uid="{{uid}}" message="{{message}}" user="{{user}}"></messenger-web-notification>

		<messenger-user uid="{{message.user}}" user="{{user}}"></messenger-user>
		<div class="bubble" id="bubble">
			<b>{{user.name}}: </b>
			{{message.body}}
		</div>
	</template>
	<script>
		Polymer({
			is:"messenger-message",
			properties:{
				message: Object,
				user: {
					type: Object
				},
				uid:{
					type: String
				}
			},
			attached:function(){
				if(this.isFriend()){
					this.$.bubble.classList.add("right");
				}

				

				this.fire("added");
			},
			isFriend: function(){
				return this.uid !== this.message.user;	
			}
		})
	</script>
</dom-module>