<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-down-animation.html">

<dom-module id="messenger-login">
	
	<template>
		<style>
			:host{
				display: none;
			}
			paper-button{
				color:white;
				margin: 1em 0 0 0;
				background-color: var(--accent-color);
			}
		</style>

		<firebase-auth id="autenticacion"></firebase-auth>

		<form is="iron-form" id="form">
			<paper-input label="Correo electrónico" type="email" required="true" id="email" value="{{email}}"></paper-input>

			<paper-input label="Contraseña" type="password" required="true" id="password" value="{{password}}"></paper-input>

			<paper-checkbox id="checkbox" active="{{signUp}}">
				Es una cuenta nueva
			</paper-checkbox>
			<div>
				<paper-button raised id="button"> Ingresar </paper-button>	
			</div>

		</form>
		
	</template>


	<script>
		Polymer({
			is: "messenger-login",
      behaviors:[
        Polymer.NeonAnimationRunnerBehavior
      ],
			properties:{
				email: String,
				password: String,
				signUp: Boolean,
				user:{
					type: Object,
          notify: true
				},
				opened:{
      		type: Boolean,
      		value: false
      	},
      	animationConfig:{
      		value: function(){
      			return {
      				'entry': [{
      					name: 'scale-up-animation',
      					id:"scale-up-animation",
      					node: this
      				}],
      				'exit': [{
      					name: 'scale-down-animation',
      					node: this
      				}]
      			}
      		}	
      	}
			},
      listeners:{
      	"neon-animation-finish":"_animationFinished"
      },
			ready: function(){
				this.$.button.addEventListener("click",()=> this.sendForm())
				this.$.autenticacion.auth.onAuthStateChanged((u)=>{
					this.handleAuth(u)
				} )
				this.show()
			},
      hide: function(){
      	this.opened = false
      	this.playAnimation("exit")
      },
      show: function(){
      	this.opened = true
      	this.style.display = "block"
      	this.playAnimation("entry")
      },
      _animationFinished: function(){
      	if(!this.opened) this.style.display = "none"
      },
			sendForm: function(){

				if(this.signUp){
					this.$.autenticacion.createUserWithEmailAndPassword(this.email,this.password)
							.then((user)=>{
								this.createUser(user)
							})	
				}else{
					this.$.autenticacion.signInWithEmailAndPassword(this.email,this.password,{remember:true})
							.then((user)=>{
								this.user = user
							})	
				}				
			},
			createUser: function(firebaseUser){
				firebase.database().ref("/users/"+firebaseUser.uid).set({
					name: firebaseUser.email,
					email: firebaseUser.email,
					uid: firebaseUser.uid,
					photoURL: "https://i.ytimg.com/vi/EfwPqRYNgaE/hqdefault.jpg"
				})

				this.user = firebaseUser
			},
			handleAuth: function(u){
        console.log(u);
				this.user = u;
				if(u != null || this.user != null){
					this.fire("login")
				}else{
					this.fire("logout")
				}
			}
		})
	</script>

</dom-module>