<dom-module id="messenger-web-notification">
  <template></template>
  <script src="../../../bower_components/push.js/push.min.js"></script>
  <script src="/visibility.js"></script>
  <script>
    Polymer({
      is:"messenger-web-notification",
      properties:{
        message:Object,
        user: {
          type: Object,
          observer:"_userChanged"
        },
        uid: String
      },
      sendPush:function(){
        if(!this.isFriend()) return;
        
        if(this.inElectron()){
          new Notification(this.user.name+":",{
            body: this.message.body,
            icon: this.user.photoURL
          });
        }else if(this.message.notification){
          Push.create(this.user.name+":",{
            body: this.message.body,
            timeout: 10000,
            icon: this.user.photoURL
          });  
        }
        
      },
      _userChanged: function(){
        this.sendPush();
      },
      inElectron: function(){
        return window && window.process && window.process.type;
      },

      isFriend: function(){
        return this.uid !== this.message.user;  
      }
    });
  </script>
</dom-module>