<dom-module id="messenger-audio-notification">
  <template>
    <style>
      audio{
        display: none;
      }
    </style>
    
    <audio id="audio" src="./notification.mp3"></audio>

  </template>
  <script src="/visibility.js"></script>
  <script>
    Polymer({
      is:"messenger-audio-notification",
      ready:function(){
        if(Visibility.hidden())
          this.$.audio.play();
      }
    });
  </script>
</dom-module>